
body {
    visibility: hidden;
    opacity: 0;
}

body.css-loaded {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.profile {
    background-color: #f0f4f8;
    color: #333;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}

.profile-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    position: relative;
    overflow: hidden;
    border: 2px solid #e0e4e8;
    transition: all 0.3s ease;
    min-height: 680px;
}

.profile-card:hover {
    border-color: #0077b6;
    box-shadow: 0 0 20px #0077b6, 0 0 30px rgba(0, 119, 182, 0.4);
}

/* Ảnh cá nhân */
.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #00b4d8;
}


.user-name {
    font-size: 40px;
    font-weight: bold;
    color: #0077b6;
    text-transform: uppercase;
}

.user-role {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff6f61;
}

/* Thông tin cá nhân */
.profile-info p {
    font-size: 18px;
    margin: 15px 0;
    color: #495057;
}

.profile-info strong {
    color: #0077b6;
}


.edit-button {
    background-color: #ffcc00;
    color: #000;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-button:hover {
    background-color: #ffd700;
    box-shadow: 0 0 10px #ffd700, 0 0 20px rgba(255, 215, 0, 0.5);
}